apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-secrets
resources:
  - namespace.yaml
  - repository.yaml
  - release.yaml
  - secret-store.yaml

configMapGenerator:
  - name: external-secrets-values
    files: values.yaml=values.yaml

configurations: kustomize-config.yaml
